<div class="jazzquiz-box">
    <p>{{# str }} instructor_sessions_going, jazzquiz {{/ str }}</p>
    <p>
        <a href="{{ path }}" class="btn btn-secondary">{{# str }} goto_session, jazzquiz {{/ str }}</a>
    </p>
</div>