<div class="jazzquiz-box">
    <p>{{# str }} join_quiz_instructions, jazzquiz {{/ str }}</p>
    <p>
        <b>{{# str }} session, jazzquiz {{/ str }}:</b> {{ name }}
    </p>
    <p>{{ anonymity_info }}</p>
    {{# started }}
    <p>{{# str }} attempt_started, jazzquiz {{/ str }}</p>
    {{/ started }}
    {{{ form }}}
</div>