<div class="jazzquiz-box">
    {{# select_session }}
    <div>
        <h3>{{# str }} select_session, jazzquiz {{/ str }}</h3>
        <br>
        <div class="inline-block">
            {{> core/single_select }}
        </div>
    </div>
    {{/ select_session }}
    {{# session }}
        <div id="report_overview_controls" class="jazzquiz-box">
            <button data-action="attendance" class="btn btn-primary">
                {{# str }} attendance, jazzquiz {{/str}}
            </button>
            <button data-action="responses" class="btn btn-primary">
                {{# str }} responses, jazzquiz {{/str}}
            </button>
            <a href="reports.php?id={{ cmid }}&quizid={{ quizid }}&sessionid={{ id }}&action=export&what=report&download=yes">
                {{# str }} download_report, jazzquiz {{/str}}
            </a>
            <a href="reports.php?id={{ cmid }}&quizid={{ quizid }}&sessionid={{ id }}&action=delete">
                {{# str }} delete_report, jazzquiz {{/str}}
            </a>
        </div>
        <div id="report_overview_responses" class="jazzquiz-response-container hidden">
            {{# slots }}
                <div class="jazzquiz-box">
                    <h2>
                        <span class="filter_mathjaxloader_equation">
                                {{{ name }}}
                        </span>
                    </h2>
                    <span class="filter_mathjaxloader_equation">
                        {{{ description }}}
                    </span>
                    <table id="responses_wrapper_table_{{ num }}" class="jazzquiz-responses-overview"></table>
                    <br>
                    <a href="reports.php?id={{ cmid }}&quizid={{ quizid }}&sessionid={{ id }}&slot={{ num }}&action=export&what=question&download=yes">
                        {{# str }} download_responses, jazzquiz {{/ str }}
                    </a>
                </div>
            {{/ slots }}
        </div>
        <div id="report_overview_responded" class="jazzquiz-box">
            <h2>{{# str }} attendance_list, jazzquiz {{/str}}</h2>
            <table>
                <tr>
                    <th>{{# str }} student, jazzquiz {{/str}}</th>
                    <th>{{# str }} responses, jazzquiz {{/ str }}</th>
                </tr>
                {{# students }}
                    <tr>
                        <td>{{ name }}</td>
                        <td>{{# str }} a_responses, jazzquiz, {{ count }} {{/ str }}</td>
                    </tr>
                {{/ students }}
            </table>
            <br>
            <p>{{# str }} a_students_joined_quiz, jazzquiz, {{ count_total }} {{/ str }}</p>
            <p>{{# str }} a_students_answered, jazzquiz, {{ count_answered }} {{/ str }}</p>
            <br>
            <a href="reports.php?id={{ cmid }}&quizid={{ quizid }}&sessionid={{ id }}&action=export&what=attendance&download=yes">
                {{# str }} download_attendance_list, jazzquiz {{/ str }}
            </a>
        </div>
    {{/ session }}
</div>
